{{!< default}}


{{!-- The main content area --}}
<main id="site-main" class="site-main.uk-container" role="main">
  <div class="inner uk-container">
    {{#get "posts" limit="1" include="tags,author" filter="tags:intropage"}}
      {{#foreach posts}}
        <article>
          <header>
            <h1>{{title}}</h1>
          </header>
          <section>
            {{content}}
          </section>
        </article>
      {{/foreach}}
    {{/get}}
  </div>
</main>
